body {
    background-color: #f5e7d9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #ddb4a4;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header img {
    width: 100px;
    margin: 0 20px;
}

.header h1 {
    color: #51372b;
    margin: 10px 0;
    flex-grow: 1;
    text-align: center;
}

.content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    margin: 20px;
    position: relative;
}

.content h2 {
    color: #51372b;
    margin-bottom: 20px;
}

.content p {
    color: #51372b;
    line-height: 1.6;
}

.back-button {
    background-color: #ddb4a4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.back-button:hover {
    background-color: #ffe6c5;
}

.logo-overlay {
    position: absolute;
    opacity: 0.1;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}